.browseControls {
  margin-bottom: 5px; }

.browseControls > input {
  margin-right: 10px; }

a {
  text-decoration: none; }

html {
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; }

.sectionContainer {
  display: flex;
  flex-direction: column; }

section {
  flex: 0 1 auto;
  /*margin: 5px 10px;*/
  margin-bottom: 10px;
  white-space: pre;
  display: flex;
  flex-direction: column; }

h3 {
  font-size: 18px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.sectionContent {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 1px; }

.wrap {
  flex-wrap: wrap; }

.sectionContentEl {
  flex: 1 1 auto; }

.sectionContentElFixed {
  flex: 0 0  auto; }

.Component {
  margin-top: 5px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }
  .Component.InfoBrowser {
    max-width: 800px; }

.invisible {
  visibility: hidden; }

.iTypeSwitcher {
  align-items: flex-start; }

.markdowned {
  font-size: 1.2em; }

.nav > li > a {
  padding: 0 0; }

.flexContVert {
  display: flex;
  flex-direction: column;
  align-content: center; }

.flexContHoriz {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.flexElemContHoriz {
  flex: 0 1 auto;
  display: flex; }

.flexElemContVert {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column; }

.flexElemContVert Button {
  text-align: right; }

.flexElemContVert span {
  align-self: center; }

#reviewModeSwitches {
  display: flex;
  justify-content: center;
  max-width: 320px; }

#reviewStage {
  min-height: 100px; }

.intervalButtonCont {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end; }

.intervalButtonCont > span {
  flex: 1 1 auto;
  max-width: 70px; }

table {
  border-collapse: collapse;
  width: 100%; }

thead {
  text-align: left;
  background: #6ac44a; }
  thead > tr > th {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; }
    @media (max-device-width: 400px) {
      thead > tr > th {
        height: 30px; } }

tbody > tr {
  cursor: pointer; }
  tbody > tr:nth-child(odd) {
    background: #e1f3db; }
    tbody > tr:nth-child(odd):hover {
      background: #c4e8b8; }
  tbody > tr:hover {
    background: #e6e6e6; }

tbody > tr > td {
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  @media (max-device-width: 400px) {
    tbody > tr > td {
      height: 30px; } }

.navBar {
  display: flex;
  /*flex-wrap: wrap;*/
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: thick solid #000000; }
  .navBar > div {
    flex: 1 1 auto;
    text-align: center;
    /*padding: 0 8px;*/
    /*display:inline;*/
    cursor: pointer;
    line-height: 12.0vw;
    font-size: 8.0vw; }
    @media (min-width: 300px) {
      .navBar > div {
        line-height: 36px;
        font-size: 24px; } }
    .navBar > div:hover {
      background-color: #c9eabe; }
    .navBar > div.active {
      background-color: #6ac44a; }

.flexElem {
  flex: 0 1 auto; }

.button {
  background: lightgray;
  border: 0;
  padding: 4px 6px;
  cursor: pointer;
  margin: 1px;
  white-space: nowrap;
  font-size: inherit;
  text-align: center; }
  .button:hover {
    outline: 2px solid #949494; }
  .button.interval0 {
    background: #66CCFF; }
    .button.interval0:hover {
      outline: 2px solid #00a7fa; }
  .button.interval1 {
    background: #3399FF; }
    .button.interval1:hover {
      outline: 2px solid #006bd6; }
  .button.buttonGood {
    background: #6ac44a; }
    .button.buttonGood:hover {
      outline: 2px solid #478f2f; }
  .button.buttonPlain {
    background: #FFF; }
    .button.buttonPlain:hover {
      color: red;
      outline: none; }
  .button.buttonDanger {
    background: #d9534f; }
    .button.buttonDanger:hover {
      outline: 2px solid #aa2925; }
  .button.disabled {
    color: graytext;
    background: #e9e9e9;
    cursor: default;
    outline: 0 !important; }

.buttonSelected {
  outline: 2px solid #000000; }
  .buttonSelected:hover {
    background: #6ac44a; }

.microbutton {
  width: 2em;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center; }

#reviewStage {
  display: flex;
  flex-direction: column;
  align-items: center; }

input, select, textarea {
  font-size: inherit;
  border: 1px solid #ccc;
  font-family: inherit;
  border-radius: 4px; }

@media (max-device-width: 400px) {
  input, textarea {
    line-height: 1.7; } }
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.tabContainer {
  display: flex;
  justify-content: flex-start; }

.CombiButton > button {
  margin: 0; }

/*# sourceMappingURL=style.css.map */
