.browseControls{
  margin-bottom: 5px;
}

.browseControls > input{
  margin-right: 10px;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}


html {
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

section{
  flex: 0 1 auto;
  /*margin: 5px 10px;*/
  margin-bottom: 10px;
  white-space: pre;
  display: flex;
  flex-direction: column;
}

h3{
  font-size: 18px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

p{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.sectionContent{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 1px;
}

.wrap{
  flex-wrap: wrap;
}

.sectionContentEl{
  flex: 1 1 auto;
}

.sectionContentElFixed{
  flex: 0 0  auto;
}

.Component{
  margin-top: 5px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  &.InfoBrowser{
    max-width: 800px;
  }
}

.invisible{
  visibility: hidden;
}

.iTypeSwitcher{
  align-items: flex-start;
}

.markdowned{
  font-size: 1.2em;
}

.nav>li>a{
  padding: 0 0;
}



.flexContVert{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.flexContHoriz{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flexElemContHoriz{
  flex: 0 1 auto;
  display: flex;
}

.flexElemContVert{
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
}

.flexElemContVert Button{
  text-align: right;
}

.flexElemContVert span{
  align-self: center;
}

#reviewModeSwitches{
  display: flex;
  justify-content: center;
  max-width: 320px;
}

#reviewStage{
  min-height: 100px;
}



.intervalButtonCont{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
}

.intervalButtonCont > span {
  flex: 1 1 auto;
  max-width: 70px;
//  display: flex;
//  flex-direction: column;
}

$base-green: scale-color(#5cb83c, $lightness: 10%);
table{
  border-collapse: collapse;
  width: 100%;
  //  table-layout: fixed;
}

thead{
  text-align: left;
  background: $base-green;
  &>tr>th{
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    @media (max-device-width: 400px)  {
      height: 30px;
    }
  }

}

$base-veryBright: scale_color($base-green, $lightness: 80%);
$base-veryDark: scale_color($base-green, $lightness: -60%);
$tr-highlight-darken: -10%;
tbody>tr {
  cursor: pointer;
  &:nth-child(odd) {
    background: $base-veryBright;
    &:hover{
      background: scale-color($base-veryBright, $lightness: $tr-highlight-darken);
    }
  }
  &:hover {
    background: scale-color(#ffffff, $lightness: $tr-highlight-darken);
  }
}

tbody>tr>td{
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  @media (max-device-width: 400px)  {
    height: 30px;
  }

}

.navBar{
  display: flex;
  //  justify-content: space-between;
  /*flex-wrap: wrap;*/
  max-width: 500px;
  margin-left: auto ;
  margin-right: auto ;
  border-bottom: thick solid #000000;
  & > div{
    flex: 1 1 auto;
    text-align: center;
    /*padding: 0 8px;*/
    /*display:inline;*/
    cursor: pointer;
    //    height: 12.0vw;
    line-height: 12.0vw;
    font-size: 8.0vw;
    @media (min-width: 300px) {
      line-height: 36px;
      font-size: 24px;
    }
    //  font-weight: normal;
    //  text-rendering: optimizeLegibility;
    &:hover{
      background-color: lighten($base-green, 30%);
    }
    &.active{
      background-color: $base-green;
    }
  }
}

.flexElem{
  flex: 0 1 auto;
}

@mixin hoverDark($col) {
  background: $col;
  &:hover {
    outline: 2px solid scale-color($col, $lightness: -30%);
  }
}

$danger-red: #d9534f;
button{
  //border: 2px solid transparent;
  @include hoverDark(lightgray);
  border: 0;
  padding: 4px 6px;
  cursor: pointer;
  margin: 1px;
  white-space: nowrap;
  font-size: inherit;
  text-align: center;
  @media (max-device-width: 400px) {
    min-width: 50px;
    min-height: 30px;
    margin-bottom: 5px;
  }
}
.buttonGood{
  @include hoverDark($base-green);
}

$intervalRed: #FF3300;
$intervalYellow: #d0d000;
.intervalMinutes{
  @include hoverDark(mix($intervalRed, $intervalYellow, 100%));
}
.intervalHours{
  @include hoverDark(mix($intervalRed, $intervalYellow, 75%));
}
.intervalDays{
  @include hoverDark(mix($intervalRed, $intervalYellow, 50%));
}
.intervalWeeks{
  @include hoverDark(mix($intervalRed, $intervalYellow, 25%));
}
.intervalMonths{
  @include hoverDark(mix($intervalRed, $intervalYellow, 0%));
}

.buttonPlain{
  background: #FFF;
  &:hover{
    color: red;
    outline: none;
  }
}
.buttonDanger{
  @include hoverDark($danger-red);
}

button:disabled{
  color: graytext;
  background: scale-color(lightgray, $lightness: +50%);
  cursor: default;
  outline: 0 !important;
}
.buttonSelected{
  outline: 2px solid #000000;
  &:hover{
    background: $base-green;
  }
}


.popup{
  background: lightgray;
  padding: 10px;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
//  transform: translate(-50%, 0); //translate3d lead to blurry text sometimes
//  width: 40%;
  text-align: center;
}

.microbutton{
  width: 2em;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#reviewStage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, select, textarea{
  font-size: inherit;
  border: 1px solid #ccc;
  font-family: inherit;
}

@media (max-device-width: 400px)  {
  input, textarea{
    line-height: 1.7;
  }
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.tabContainer{
  display: flex;
  justify-content: flex-start;
}

form{
  display: flex;
  flex-direction: column;
}
