html {
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; }

section {
  flex: 0 1 auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; }
  section > *:not(:first-child) {
    margin-left: 10px;
    margin-bottom: 1px; }

h3 {
  font-size: 18px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.Component {
  margin-top: 5px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }
  .Component.InfoBrowser {
    max-width: 800px; }

.invisible {
  visibility: hidden; }

.markdowned {
  font-size: 1.2em; }

.flexRowDistribute {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.flexRowStacked {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

.flexContentVariable {
  flex: 1 1 auto; }

.flexContentFixed {
  flex: 0 0  auto; }

table {
  border-collapse: collapse; }
  @media (max-device-width: 400px) {
    table tr {
      height: 2em; } }

.infoTable {
  width: 100%;
  table-layout: fixed; }
  .infoTable thead {
    text-align: left;
    background: #6ac44a; }
  .infoTable tbody > tr {
    cursor: pointer; }
    .infoTable tbody > tr:nth-child(odd) {
      background: #e1f3db; }
      .infoTable tbody > tr:nth-child(odd):hover {
        background: #c4e8b8; }
    .infoTable tbody > tr:hover {
      background: #e6e6e6; }
  .infoTable tbody > tr > td {
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
    @media (max-device-width: 400px) {
      .infoTable tbody > tr > td {
        height: 30px; } }

.clickable {
  cursor: pointer; }

.profileTable {
  margin: 0 auto; }
  .profileTable td, .profileTable th {
    height: 1.5em; }
  .profileTable > thead {
    text-align: left;
    background: #6ac44a; }
  .profileTable > tbody > tr {
    cursor: pointer; }
    .profileTable > tbody > tr:hover {
      background: #e6e6e6; }
    .profileTable > tbody > tr > td {
      padding-right: 10px; }
    .profileTable > tbody > tr > td:nth-child(2) {
      text-align: center; }

.navBar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: thick solid #000000; }
  .navBar > div {
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
    font-weight: bold;
    line-height: 2em; }
    @media (min-width: 450px) {
      .navBar > div {
        font-size: 18px; } }
    .navBar > div:hover {
      background-color: #c9eabe; }
    .navBar > div.active {
      background-color: #6ac44a; }

button {
  background: lightgray;
  border: 0;
  padding: 4px 6px;
  cursor: pointer;
  margin: 1px;
  white-space: nowrap;
  font-size: inherit;
  text-align: center; }
  button:hover {
    outline: 2px solid #949494; }
  @media (max-device-width: 400px) {
    button {
      min-width: 50px;
      min-height: 30px;
      margin-bottom: 5px; } }

.buttonGood {
  background: #6ac44a; }
  .buttonGood:hover {
    outline: 2px solid #478f2f; }

.buttonDanger {
  background: #d9534f; }
  .buttonDanger:hover {
    outline: 2px solid #aa2925; }

button:disabled {
  color: graytext;
  background: #e9e9e9;
  cursor: default;
  outline: 0 !important; }

.buttonSelected {
  outline: 2px solid #000000; }
  .buttonSelected:hover {
    background: #6ac44a; }

.microbutton {
  width: 2em;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.intervalMinutes {
  background: rgba(255, 35, 15, 0.6); }
  .intervalMinutes:hover {
    outline: 2px solid rgba(189, 16, 0, 0.6); }

.intervalHours {
  background: rgba(185, 84, 99, 0.7); }
  .intervalHours:hover {
    outline: 2px solid rgba(134, 55, 66, 0.7); }

.intervalDays {
  background: rgba(143, 114, 150, 0.8); }
  .intervalDays:hover {
    outline: 2px solid rgba(101, 79, 106, 0.8); }

.intervalWeeks {
  background: rgba(115, 134, 183, 0.9); }
  .intervalWeeks:hover {
    outline: 2px solid rgba(71, 90, 138, 0.9); }

.intervalMonths {
  background: #5f95d0; }
  .intervalMonths:hover {
    outline: 2px solid #3067a4; }

.popup {
  background: lightgray;
  padding: 10px;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  text-align: center; }

#reviewStage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50px; }

input, select, textarea {
  font-size: inherit;
  border: 1px solid #ccc;
  font-family: inherit; }

@media (max-device-width: 400px) {
  input, textarea {
    line-height: 1.7; } }
textarea, select {
  overflow: hidden; }

.illegalForm {
  background-color: #ffc8c8; }

.unselectable, .infoTable thead > tr > th {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

form {
  display: flex;
  flex-direction: column; }

hr {
  border: 0;
  border-bottom: 2px dashed #D0D0D0;
  width: 100%; }

.guessCorrect {
  color: #366e2f;
  background: #cbff9b; }

.guessWrong {
  color: #89170a;
  background: #ffcebf; }

/*# sourceMappingURL=style.css.map */
